.blog__blog-post-container {
  max-width: 800px;
  padding: 1rem;
  margin: auto;
}

.blog__blog-post-container p {
  line-height: 2em;
}

.blog__blog-title {
  padding-top: 1rem;
  font-size: 1.5rem;
}

.blog__blog-date {
  font-size: 1rem;
  padding-bottom: 1rem;
}

:not(pre)>code[class*="language-text"] {
  padding: 0.2em 0.4em;
  color: #cc99cd;
}

td {
  padding: 1rem;
}

td[align="right"] {
  padding-right: 1.5rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 100px;
  height: 1px;
  background: linear-gradient(75deg, rgba(20, 40, 250, 20), rgba(190, 20, 250, 10), rgba(90, 10, 120, 10));
  border-top-width: 0px;
}