<div class="d-flex flex-column flex-justify-between stretch-height stretch-width text-left {% if site.style == 'dark' %}box-shadow{% else %}border border-gray-light{% endif %} bg-white rounded-1 p-3">
  <div class="d-flex flex-justify-between flex-items-start mb-1">
    <h1 class="f4 lh-condensed mb-1 {% if site.style == 'dark' %} text-white {% endif %}">
      <a href="{{ site.baseurl }}{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>
  </div>
  <div class="mb-2 ws-normal {% if site.style == 'dark' %}text-white {% else %} text-gray{% endif %}">{{ post.date | date: "%b %d, %Y"}}</div>
</div>
