:root {
    --header-height: 58px;
}

body {
    scroll-snap-type: y mandatory;
}
.main section {
    scroll-snap-stop: always;
}

.section-1 {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr min-content;
    min-height: 100vh;
}

.section-1-hero {
    min-height: 23vh;
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.section-1-video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.section-2 {
    min-height: calc(100vh - 40px);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content auto min-content;
    padding-bottom: 15px;
}

.section-3 {
    min-height: 100vh;
}

@media (max-width: 640px) {
    .section-3-content {
        grid-template-columns: 1fr;
    }
}

.down-arrow {
    background-color: var(--background);
    border-radius: 100rem;
    padding: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: 42px;
    height: 42px;
    text-align: center;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 0.5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-arrow:active {
    background-color: rgba(220, 220, 220, 0.4);
    transition-property: background-color;
    transition-timing-function: linear;
    transition-duration: 0.1ms;
}

.down-arrow-hidden {
    opacity: 0;
    cursor: default;
}

#blog-posts {
    /* For clicking fragment so header doesn't get covered by top nav */
    padding-top: 57px;
    margin-top: -57px;
}

.blog-posts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
}

@media(max-width: 768px) {
    .blog-posts {
        grid-template-columns: 1fr;
        grid-template-rows: unset;
    }
}

.blog-title {
    font-size: 1.5rem;
}

.blog-title:hover {
    text-decoration: underline;
}

.blog-posts-image {
    background-position-x: center;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 85px;
}

.max-1000 {
    max-width: 1000px;
}

.blog-post-item {
    border-left: 4px solid black;
}

.header-logo {
    height: var(--header-height);
    width: var(--header-height);
}
