---
---
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-one-dark-syntax';


// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
  }
}

.bg-light-grey {
  background-color: #95989b
}

.stretch-height {
  min-height: 100%;
}

.stretch-width {
  min-width: 100%;
}

.word-break {
  word-break: break-word;
}

.li-inside {
  list-style-position: inside;
}

.ul-padding > ul {
  padding-bottom: 0.5em;
}

.highlight, pre.highlight {
  overflow-x: auto;
}

.highlight pre {
  margin-bottom: 0px !important;
}

p img {
  border-style: none;
  width: 100%;
}

tbody tr td:first-child {
  padding: 1em;
  text-align: right;
}
