---
---

@import url("https://unpkg.com/primer/build/build.css");
@import "highlight-one-dark-syntax";

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol !important;
}

.repo-language-color {
  filter: brightness(125%) !important;
  border-radius: 50%;
  display: inline-block;
  height: 12px;
  position: relative;
  top: 2px;
  width: 12px;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1,
  h2,
  h3,
  h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
  }
}

.bg-light-grey {
  background-color: #95989b;
}


@media (min-width: 0px) {
  .stretch-height {
    min-height: 0%;
  }    
}

@media (min-width: 576px) {
  .stretch-height {
    min-height: calc(100% - 64px);
  }
}
.stretch-width {
  min-width: 100%;
}

.word-break {
  word-break: break-word;
}

.li-inside {
  list-style-position: inside;
}

.ul-padding > ul {
  padding-bottom: 0.5em;
}

ul, ol {
  padding-left: 1em;
}

.highlight,
pre.highlight {
  overflow-x: auto;
}

.highlight pre {
  margin-bottom: 0px !important;
}

p img {
  border-style: none;
  width: 100%;
}

tbody {
  border-collapse: unset;
}

thead {
  display: none;
}

tbody tr td:first-child {
  padding-right: 1em;
  text-align: right;
  vertical-align: top;
}

td {
  padding: 0.8em;
}

h4 {
  border-bottom: solid 0.07em;
  border-image-source: linear-gradient(75deg, rgba(20, 40, 250, 20), rgba(190, 20, 250, 10), rgba(90, 10, 120, 10));
  border-image-slice: 1;
  padding-bottom: 0.4em;
}

h5 {
  margin-bottom: 1em;
}

.meta-link {
  color: #24292e;
}

@media (min-width: 0px) {

}

@media (max-width: 576px) {
  .flex-grow-1 {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .nav-spacer {
    display: none !important;
  }
}

.projects-more-div {
  padding-left: 8px;
  padding-right: 16px;
  justify-content: flex-end;
  flex: 1;
}

a {
  cursor: pointer;
  color: hsl(190, 90%, 30%);
  transition-property: color;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

a:hover {
  text-decoration: none;
  color: hsl(190, 40%, 60%);
}

.nav-link {
  color: white;
  font-weight: 600;
  // padding: 0.5rem 1rem 0.5rem 0;
  margin: 0 1rem 0 0;
}

.content {
  background-color: hsl(55, 20%, 96%) !important;
}

.edges {
  background-color: hsl(157, 20%, 96%) !important;
}

.navigation {
  padding: 16px;
  background-color: #24292e;
  height: 64px;
}