:root {
  /* --background: hsl(200, 20%, 20%);
  --color: hsl(200, 80%, 80%); */
  --background: rgb(240, 240, 240);
  --color: rgb(50, 30, 10);
  --hazel: rgb(75, 53, 39);
  --egg-white: rgb(224, 219, 213);
  --blue: hsl(230, 100%, 67%);
  --sm: 640px;
  /* mobile */
  --md: 768px;
  /* iPad */
  --lg: 1024px;
  --xl: 1280px;
}

html {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media (max-width: 640px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

ol, ul {
  margin: revert;
  padding: revert;
  list-style: revert;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Karla', 'Segoe UI', 'Open Sans', 'Libre Franklin', sans-serif;
  font-weight: lighter;
}

h1 {
  font-size: 3rem;
  line-height: 2rem;
  padding-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  padding-bottom: 0.5rem;
}

h3 {
  font-size: 1.5rem;
  padding-left: 0.25rem;
  padding-bottom: 0.5rem;
}

h4 {
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

p, blockquote, li {
  font-family: 'Montserrat', 'Libre Franklin', 'Segoe UI', 'Open Sans', sans-serif;
  font-size: 1rem;
  padding-bottom: 1rem;
}

body {
  background-color: var(--background);
  color: var(--color);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--color);
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: var(--color);
}

.xxl-container {
  max-width: 1600px;
}

.header {
  background-color: var(--background);
  z-index: 200;
  width: 100vw;
  position: fixed;
  top: 0px;
  text-align: center;
  transition: transform 0.5s ease-out;
  transform: translateY(0px);
}

.hide-header {
  transform: translateY(-100px);
}

.footer {
  display: grid;
  min-height: 100px;
  grid-template-columns: 1fr 1fr;
}